body, html {
    margin: 0;
    padding: 0;
}
body {
    color: black;
    display: table;
    font-family: Georgia, serif;
    font-size: 24px;
    text-align: center;
}
.container {
    border: 20px solid tan;
    width: 750px;
    height: 563px;
    display: table-cell;
    vertical-align: middle;
}
.logo {
    color: tan;
}

img{
    margin-top: -350px;
}

.marquee {
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
    color: tan;
    font-size: 48px;
    margin: 20px;
}
.assignment {
    margin: 20px;
}
.person {
    border-bottom: 2px solid black;
    font-size: 32px;
    font-style: italic;
    margin: 20px auto;
    width: 400px;
}
.reason {
    margin: 20px;
    font-size: 18px
}


.pm-certificate-footer {
    width: 650px;
    height: 100px;
    position: relative;
    left: 50%;
    margin-left: -325px;
    bottom: -150px;
  }
